<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Update Library List</title>
</head>

<body style="margin:0px; padding:0px; width:100%; background-color: black;">

<% include templates/header ; %>
<div class="container" style="background-color: white;">
    <h1 style="position:relative; color: white; text-align: center;">Update My Libray</h1>
    <p style="position:relative; color: white;">Click on the item you want to update.</p>
    <!-- This is a collapsible menu, by clicking in which item will open up a form to edit it. Pure beauty. I know-->
    <ul class="collapsible" style="position:relative; background-color: white;">
        <% var id = 0;
        data.books.forEach(function (book){ %>
            <li>
                <div class="collapsible-header"><i class="material-icons">edit</i> <%= book.Title %> |
                    <%= book.Subtitle %> by <%= book.Autor %></div>
                <div class="collapsible-body">
                    <form class="col s12" enctype="application/json" action="/update/book" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="hidden" name="id" value="<%= id %>">
                                <input placeholder="<%= book.Title %> " name="title" type="text" class="validate"
                                       required="required" pattern="[a-zA-Z0-9à-úÀ-Ú ]{1,50}"
                                       value="<%= book.Title %> ">
                                <label for="title">Title *</label>
                                <span class="helper-text"
                                      data-error="This is a mandatory field. It can only contain letters and numbers."
                                      data-success="Valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="<%= book.Subtitle %>" name="subtitle" type="text" class="validate"
                                       pattern="[a-zA-Z0-9à-úÀ-Ú ]{1,50}" value="<%= book.Subtitle %>">
                                <label for="subtitle">Subtitle *</label>
                                <span class="helper-text" data-error="It can only contain letters and numbers."
                                      data-success="Valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="<%= book.Autor %>" name="author" type="text" class="validate"
                                       required="required" pattern="[A-Za-z0-9 ]{1,50}" value="<%= book.Autor %>">
                                <label for="author">Author *</label>
                                <span class="helper-text"
                                      data-error="This is a mandatory field. It can only contain letters."
                                      data-success="Valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="<%= book.Publisher %>" name="publisher" type="text" class="validate"
                                       required="required" pattern="[A-Za-z ]{2,25}" value="<%= book.Publisher %>">
                                <label for="publisher">Publisher *</label>
                                <span class="helper-text"
                                      data-error="This is a mandatory field. It can only contain letters."
                                      data-success="Valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="<%= book.Year %>" name="year_edition" type="text" class="validate"
                                       required="required" pattern="[0-9/ª ]{1,8}" value="<%= book.Year %>">
                                <label for="year_edition">Edition *</label>
                                <span class="helper-text" data-error="This is a mandatory field. Eg. 2019/1"
                                      data-success="Valid"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="2019" name="read_year" type="text" class="validate"
                                       pattern="[0-9]{1,4}" value="<%= book.ReadYear %>">
                                <label for="year_edition">Read in</label>
                                <span class="helper-text" data-error="Enter the year. Eg. 2019"
                                      data-success="Valid"></span>
                            </div>
                        </div>
                        <button onclick="M.toast({html: 'Book updated!'})" class="btn waves-effect waves-light"
                                type="submit" name="post">Save
                            <i class="material-icons right">save</i>
                        </button>
                    </form>
                    <!--Another form to the delele button, it only considers the position of the item and uses it as an ID-->
                    <form class="col s12" enctype="application/json" action="/delete/book" method="POST">
                        <input type="hidden" name="id" value="<%= id %>">
                        <button onclick="M.toast({html: 'Book deleted!'})" class="btn waves-effect waves-light"
                                type="submit" name="post" style="margin-top: -65px; margin-left: 150px;">Delete
                            <i class="material-icons right">delete</i>
                        </button>
                    </form>
                </div>
            </li>
        <% id++;
        }); %>
    </ul>
</div>
<script>
    // Initialising the Materialize CSS
    M.AutoInit();
</script>
</body>

</html>